* {
  padding: 5px;
  margin: 5px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  line-height: 1.5;
  font-style: normal;
  background: #35356A;
  color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #191931;
}

#logo {
  width: 18%;
  display: block;
}

header a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  padding: 8px 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #A9A9FF;
}

nav {
  display: flex;
  flex-direciton: row;
  justify-content: space-between;
  gap: 10px 30px;
}

.big-button {
  padding: 16px 20px;
}

header a:hover {
  border-color: #4d5c3b;
}

#navselected {
  color: #92ad70;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

footer {
  margin-top: auto;
  border-top: 1px solid rgba(245,245,247,.12);
  padding: 18px 16px;
  text-align: center;
  color: rgba(245,245,247,.72);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  width: fit-content;
}

table tr:nth-child(even) td {
  background-color: #c2c2c2;
  color: #000000;
}

form * {
  margin: auto;
  text-align: center;
}
